osa4/password.txt
osa4/models/password.txt
osa4/node_modules/
osa4/.env
osa4/body.txt
osa4/log.txt
osa5/node_modules/
osa5/.env
node_modules/
osa5/build/static/js/main.f2ade916.js.map
osa5/build/static/js/main.f2ade916.js
osa5/body.txt
osa7be/build/
